<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <%= link_to root_path do %>
    <div class="ultimatelogo"><div class = "newlogo"><%=  render 'shared/newlogo' %> </div>
    <%= image_tag "lesslogo.png", alt: "alttext", class: "logo" %></div>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <nav class="navbar-lewagon .navbar-collapse">
          <div class="topnav">
            <%= link_to root_path do %>
              <p class = "nomargin">Home</p>
            <% end %>
            <a href="#about">About us</a>
            <%= link_to offers_path do %>
              <p class = "nomargin"> Browse </p>
            <% end %>
            <div class="dropdown">
              <% if user_signed_in? %>
                <a href="#" class="dropbtn"><%= current_user.email %></a>
                <div class="dropdown-content">
                  <li class="nav-item active">
                    <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: "nav-link" , data: { confirm: "You sure?" } %>
                  </li>
                  <li class="nav-item active">
                      <%= link_to "Transactions", new_offer_path%>
                  </li>
                </div>
              <% else %>
                <a href="#" class="dropbtn"> Login/Signup</a>

                <div class="dropdown-content">
                  <li class="nav-item active">
                      <%= link_to "Sign up", new_user_registration_path%>
                      <%= link_to "Log in", new_user_session_path %>
                  </li>
                </div>
              <% end %>
            </div>
          </div>
      </nav>
      </li>
    </ul>
  </div>
</div>
