<div class="container">
  <div class="main-content">

    <h1>All Items For Sale</h1>
    <%= form_tag offers_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find something pointless"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <div class="cards">
    <%@offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <div class="card-trip">
          <img src="<%=offer.image_url%>" />
          <div class="card-trip-infos">
            <div>
              <h2><%=truncate(offer.item_name, length: 28)%></h2>
              <p><%=truncate(offer.description, :length =>70)%></p>
            </div>
            <h2 class="card-trip-pricing"><%=number_with_precision(offer.price, :precision => 2)%>€</h2>
          </div>
        </div>
      <%end%>
    <%end%>
    </div>
  </div>
</div>

<% if policy(Offer).new? %>
<% end %>
