<div class="container">
  <div class="main-content">
    <div class="content-header">
      <div class="header-text"><h1>All Items For Sale</h1></div>
      <div class="search-bar">
      <%= form_tag offers_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "search-input",
        placeholder: "Find something pointless"
        %>
        <%= submit_tag "Search", class: "btn-search" %>
      <% end %>
      </div>
    </div>
    <div class="cards">
    <%@offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <div class="card-trip">
          <%= cl_image_tag offer.photo.key%>
          <div class="card-trip-infos">
            <div>
              <h2><%=truncate(offer.item_name, length: 28)%></h2>
              <p><%=truncate(offer.description, :length =>70)%></p>
            </div>
            <h2 class="card-trip-pricing"><%=number_with_precision(offer.price, :precision => 2)%>€</h2>
          </div>
        </div>
      <%end%>
    <%end%>
    </div>
  </div>
</div>

<% if policy(Offer).new? %>
<% end %>
