<div class="login-container">
 <div class="signup-form">
    <h2> Here are your Transactions </h2>

    <p>
      <h1>User:</h1>
      <%= @offers_path %>
    </p>

    <p>
      <h1>User:</h1>
      <%= @offer_id %>
    </P>

    <p>
      <h1>User:</h1>
      <%= @transaction %>
    </P>
 </div>
</div>
<%#<%= link_to 'Edit', edit_transaction_path(@transaction) %>
<%#<%= link_to 'Back', transactions_path(@transaction) %>
