<h1>Create a new For Sale item</h1>

<%= simple_form_for @offer do |f| %>
  <%= f.input :item_name, required: true, placeholder: "Item name" %>
  <%= f.input :description, required: true, placeholder: "Item description" %>
  <%= f.input :price, required: true %>
  <%= f.input :quantity, required: true %>
  <%= f.input :photo, as: :file, required: true %>
  <%= f.submit "Submit item", class: "btn btn-primary" %>
<% end %>
<%#<%= link_to 'Edit', edit_transaction_path(@transaction) %>
<%#<%= link_to 'Back', transactions_path(@transaction) %>
