
<div class="show-container">
  <div class = "show-main-content">
      <%= link_to offers_path do %>
        <button class="effect effect-5" href="#" title="Back">Back</button>
      <% end %>
    <div class = "show-item">
      <div class="item-section1">
        <div class = "item-image"><%= cl_image_tag @offer.photo.key.to_s %></div>
        <div class = "item-textbox">
          <h1><%= @offer.item_name %></h1>
          <p><%= @offer.description %></p>
          <hr>
          <div class="stock_price">
            <p><%= number_with_precision(@offer.price, :precision => 2)%>€</p>
            <% if @offer.quantity.to_i == 0 %>
              <p><%= "Sorry we do not have this item in stock" %></p>
              <% else %>
                <p><%=  "#{@offer.quantity} left in stock"%></p>
              <% end %>
          </div>
        <% if policy(@offer).edit? %>
          <div id = "ownersfunctions">
            <% if policy(@offer).edit? %>
              <%= link_to edit_offer_path(@offer) do  %>
                <%# <div type="button" class="btn btn-primary"> Buy </div> %>
                  <button class="purch-btn draw-border">Edit</button>
                <%# <% <div class="btn draw-border">Draw Border</div> %>
              <% end %>
            <% end %>
            <% if policy(@offer).destroy? %>
              <%= link_to offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" } do  %>
                <%# <div type="button" class="btn btn-primary"> Buy </div> %>
                  <button class="purch-btn draw-border">Delete</button>
                <%# <% <div class="btn draw-border">Draw Border</div> %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="buy-button">
            <%= link_to new_offer_transaction_path(@offer) do  %>
            <%# <div type="button" class="btn btn-primary"> Buy </div> %>
            <button class="purch-btn draw-border">Purchase</button>
            <%# <% <div class="btn draw-border">Draw Border</div> %>
            <% end %>
          </div>
        <% end %>
        </div>

    </div>
      </div>
    </div>
  </div>
</div>
