<div class="container_show">
  <div class = "contents_showing">
      <%= link_to offers_path do %>
        <button class="effect effect-5" href="#" title="Back">Back</button>
      <% end %>
    <div class = "content_show">
      <div class = "image_show"><%= image_tag("#{@offer.image_url}") %></div>

      <div class = "textbox_show">
        <h1> <%= @offer.item_name %> </h1>
        <p> <%= @offer.description %> </p>
        <hr>
        <div class="stock_price">
          <p> <%= number_with_precision(@offer.price, :precision => 2)%>€ </p>
          <% if @offer.quantity.to_i == 0 %>
            <p> <%= "Sorry we do not have this item in stock" %> </p>
          <% else %>
            <p> <%=  "#{@offer.quantity} left in stock"%> </p>
          <% end %>
        </div>
        <%= link_to new_offer_transaction_path(@offer) do  %>
        <%# <div type="button" class="btn btn-primary"> Buy </div> %>
          <button class="purch-btn draw-border">Purchase</button>
        <%# <% <div class="btn draw-border">Draw Border</div> %>
        <% end %>
      </div>
    </div>
  </div>
</div>
