<html>
<style>
table, th, td {
   line-height: 150%;
   margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
  border-collapse: separate;
  border-spacing: 15px;
  *border-collapse: expression('separate', cellSpacing='10px');
}
</style>
<div class="login-container">
  <table div class="signup-form" border=1 width=80%>

      <thead>
      <tr>
        <th><span style="font-size: 14px;"><%= link_to("My Dashboard", dashboard_path) %></span></th>
      </tr>
      <tr>
      <th>Transactions</th>
    </tr>
        <tr>
          <th>Date</th>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction|%>
          <tr>
            <td><%= transaction.offer.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= transaction.offer.item_name %></td>
            <td><%= transaction.offer.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%# <%= link_to 'New Transaction', new_transaction_path %>
  </div>
</div>
